.AppHeader {
  background-color: var(--color-background-secondary);
  padding: 10px 20px;
  --header-transition-time: 0.3s;
  --header-transition-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: background-color var(--header-transition-time),
    padding var(--header-transition-time);

  display: flex;
  align-items: center;

  &.active {
    background-color: var(--color-background-primary);
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

%positioner {
  transition: flex-grow var(--header-transition-time);
  flex-grow: 1;
}

.active .dynamicPositioner,
.positioner {
  @extend %positioner;
}

.dynamicPositioner {
  @extend %positioner;
  flex-grow: 0;
}

.input {
  font-size: inherit;
  transition: all var(--header-transition-time);
  border: 1px solid transparent;
  border-radius: 100px;
  color: var(--color-text);
  background-color: var(--color-background-primary);
  padding: 0 1.5rem;
  padding-left: 3.5rem;
  outline: 0;

  .active & {
    background-color: var(--color-background-secondary);
  }

  &:focus {
    border-color: var(--color-background-item);
    border-width: 2px;
  }

  .inactive &:hover {
    border-color: var(--color-background-item);
    border-width: 1px;
  }
}

.transformer {
  transform: scale(0.5);
  transform-origin: 0;

  .active & {
    transform: none;
  }
}

.inputWrapper {
  position: relative;
  font-size: 50px;

  &:after {
    content: "@";
    color: var(--color-accent);
    position: absolute;
    left: 10px;
    height: 100%;
    width: 3rem;
    pointer-events: none;
  }
}

.submitButton {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  transition: all calc(var(--header-transition-time) / 2);

  .inactive & {
    opacity: 0;
  }
}
