.root {
  background-color: var(--color-background-primary);
  display: flex;
  padding: 10px var(--size-app-horizontal-margin);
  align-items: center;
}

.selectedUser {
  display: flex;
}

.followers {
  display: flex;
}

.userAvatar {
  flex-shrink: 0;
  margin-right: 10px;
}

.userDetails {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.name {
  font-weight: bold;
}
