.item {
  --item-height: 80px;
  display: flex;
  border-radius: 20px;
  box-sizing: border-box;
  background: var(--color-background-item);
  color: #444;
  min-height: var(--item-height);
  width: 400px;
  max-width: 100%;
  margin-bottom: 20px;
  overflow: hidden;
  border: 2px solid transparent;

  &:first-child {
    margin-top: 0;
  }

  &:focus-within {
    border-color: var(--color-accent);
  }
}

.container {
  flex-grow: 1;
  display: grid;
  padding: 10px;
  box-sizing: border-box;
  grid-template-rows: [top] 55% [bottom] 1fr;
  grid-template-columns: [avatar] auto [details] 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 10px;
  text-decoration: none;
  color: currentColor;

  &:hover {
    text-decoration: underline;
  }
}

.avatarContainer {
  grid-column: avatar;
  grid-row: 1 / -1;
}

%details-container {
  grid-column: details;
  display: flex;
}

.nameContainer {
  @extend %details-container;
  grid-row: top;
  font-weight: bold;
  align-items: flex-end;
}

.accountNameContainer {
  @extend %details-container;
  grid-row: bottom;
  align-items: flex-start;
}

.avatar {
  max-width: 100%;
  max-height: 100%;
}

.avatarWrapper {
  border-radius: 50%;
  height: calc(var(--item-height) * 0.8);
  width: calc(var(--item-height) * 0.8);
  overflow: hidden;
  background: rgba(0, 0, 0, 0.2);
}
